@using HairSalon.Models
@model Stylist

@{
    ViewData["Title"] = "Snappy Snips | Edit Stylist";
    Layout = "_Layout";
}

<div class="container">
    <h1>Edit Stylist</h1>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.StylistId)
        <div class="form-group">
            <label asp-for="FirstName"><h4>First Name:</h4></label>
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", required = "true" })
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"><h4>Last Name:</h4></label>
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", required = "true" })
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone"><h4>Phone:</h4></label>
            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", required = "true" })
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-lg btn-info">Update Stylist</button>
        <a href="/stylists" class="btn btn-lg btn-info">Back</a>
    }
</div>
