body {
    font-family: 'Gloria Hallelujah', cursive;
}

.inline {
    display: inline-block;
}

.container {
    width: 70%;
    max-width: 800px;
}

.navbar-default .navbar-brand {
    font-size: 1.8em;
    color: #585757;
}

h1 {
    margin: 30px 0px;
    border-bottom: 10px solid #444;
    padding-bottom: 10px;
}

.hero-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    box-shadow: 2px 2px 10px #000;
    border-radius: 3px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 0.45fr 0.33fr 0.33fr;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #e0dddd;
    border-radius: 5px;
    font-size: 1em;
    letter-spacing: 2px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 10px;
}

.no-btn-styles {
    border: none;
    background-color: none;
    color: #337ab7;
    letter-spacing: 2px;
}

.no-btn-styles:hover {
    color: #23527c;
    text-decoration: underline;
}

.salon-list {
    list-style-type: none;
}

.salon-list li {
    margin: 20px -20px;
}

.client-icon {
    width: 30px;
    margin-right: 20px;
}

.stylist-icon {
    width: 20px;
    margin-right: 20px;
}

.specialty-icon {
    width: 25px;
    margin-right: 20px;
}

/* responsive styles */

@media screen and (max-width: 850px) {
    .grid-item {
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 675px) {
    .grid-container {
        width: 100%;
        display: block;
    }

    .grid-item a, .no-btn-styles {
        display: block;
        text-align: center;
        border: 1px solid #444;
        padding: 10px;
        border-radius: 2px;
        transition: 0.5s;
    }

    .grid-item a:hover, .no-btn-styles:hover {
        text-decoration: none;
        box-shadow: 2px 2px 5px #444;
        letter-spacing: 4px;
        transition: 0.5s;
    }

    .no-btn-styles {
        width: 100%;
    }
}
